body{
    margin: 0;
    background-color: rgb(231, 227, 227);

}

.heading{
    font-size: 30px;
    text-align: center;
    border: 1px  rgb(234, 230, 230);
    background-color: rgb(203, 203, 203);
    margin: 0px;
    padding: 20px;
    /* border-radius: 5px; */
}

.main-div{
    margin: 0px;
    /* background-color: rgb(229, 229, 229);
    border: 2px solid; */

}

.styl{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


.first{
    font-family: Verdana,sans-serif;
    display: inline-block;
    /* background-color: yellow;
    border: 2px solid red; */
    width: 455px;
    height: 630px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    position: absolute;
    top: 190px;
    left: -12px;
}

.second{
    display: inline-block;
    /* background-color: yellow;
    border: 2px solid red; */
    width: 455px;
    height: 770px;
    margin-top: 10px;
    padding: 15px;
    position: absolute;
    top: 190px;
    left: 511px;
   
}

.third{
    font-family: Verdana,sans-serif;
    display: inline-block;
    /* background-color: yellow;
    border: 2px solid red; */
    width: 455px;
    height: 630px;
    margin-top: 10px;
    padding: 15px;
    position: absolute;
    top: 190px;
    right: 14px;
    
}